@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashGrotesk';
  src: local('ClashGrotesk-Variable'), url('./Fonts/ClashGrotesk-Variable.ttf') format('truetype');
 }
 body {
  font-family: 'ClashGrotesk';
  color: #222222;
 }
 .hero-1{
  background: url("./Pages//Homepage/assets/Hero1.svg");
  background-blend-mode: overlay;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* background: rgba(0, 0, 0, 0.356) */
 }
 .hero-2{
  background: url("./Pages//Homepage/assets/Hero2.svg");
  background-blend-mode: overlay;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .hero-3{
  background: url("./Pages//Homepage/assets/Hero3.svg");
  background-blend-mode: overlay;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .hero-4{
  background: url("./Pages//Homepage/assets/Hero4.svg");
  background-blend-mode: overlay;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
 }
 .blog{
  background: url("./Pages//Homepage/assets/Blog1.svg");
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }