@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ClashGrotesk';
  src: local('ClashGrotesk-Variable'), url('./Fonts/ClashGrotesk-Variable.ttf') format('truetype');
 }
 body {
  font-family: 'ClashGrotesk';
  color: #222222;
 }
 .blog{
  background: url("./Pages//Homepage/assets/Blog1.svg");
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 /* swiper */
 .mySwiper .swiper-button-prev {
  position: absolute !important;
  left: 0% !important;
  color: #222222;
  padding: 1.5% !important;
  border: 2px solid #222222;
  cursor: pointer;
 }
 .mySwiper .swiper-button-next {
  position: absolute !important;
  right: 0% !important;
  color: #222222;
  padding: 1.5% !important;
  border: 2px solid #222222;
  cursor: pointer;
 }
 .swiper-button-prev::after, .swiper-button-next::after {
  font-size: 1.5rem;
 }

 @media screen and (max-width: 640px) {
  .mySwiper .swiper-button-prev {
    position: absolute !important;
    left: 0% !important;
    color: #222222;
    padding: 1.5% !important;
    border: 2px solid #222222;
    cursor: pointer;
   }
   .mySwiper .swiper-button-next {
    position: absolute !important;
    right: 0% !important;
    color: #222222;
    padding: 1.5% !important;
    border: 2px solid #222222;
    cursor: pointer;
   }
   .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 1.1rem;
   }
 }